{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href=""></a>About me</li>
                <li><a href=""></a>Blog</li>
                <li><a href=""></a>Discord</li>
                <li><a href=""></a>Github</li>
            </ul>
        </nav>
        <a href=""></a>
    </header>
    <br>
    <section>
        {% block content %}
             <!--Blah blah blah -->
        {% endblock content %}
    </section>
    
</body>
</html>