{% extends 'base.html' %}
<h1>My posts</h1>


{% block content %}
<div class="row my-4 text-center">

        <h3>My Personal Blog</h3>

    {% for post in posts %}
       
            <div class="col-md-4">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.description|striptags|truncatechars:100 }}</p>
                        <a href="{% url 'blog:post_detail' post.id %}"><img src="{{ post.image.url }}" alt="{{ Post.title }} " class="img-fluid"></a>

                        <a href="{% url 'blog:post_detail' post.id %}"></a>
                    
                    </div>
                </div>
            </div>   
    {% endfor %}
        
</div>
{% endblock content %}